extends ../layouts/chakra_layout.pug

block content
  //
      div#crown.content.soul-star
        a(href="/crown")
        h2 DivineX
        h3 Universal Consciousness
        p Tap into the universal consciousness and experience oneness with the cosmos.
