extends ../layouts/chakra_layout.pug

block variables 
  - title = "TuneX - Aligning Frequencies"
  - description = "Discover the harmony of aligning your inner frequencies with the universe."

block content
  div.card
    img(src="/assets/inx/inner-breeze.png", alt="Inner Breeze App")
    h4 Inner Breeze
    p Experience the Wim Hof breathing method with Inner Breeze.
    a(href="/inbe/#/") Launch App
