extends ../layouts/base_layout.pug
include ../mixins/quick_nav.pug
include ../cards.pug

block body
  div.center
    br
    br
    a(href="/").center-image
      img(width="256" src="/assets/logo.png")
    h1 NaoX
    h2 Embark on a journey
    p Digital utilities providing harmony and liberty to upgrade your community and your own self. Invoking consciousness and focusing on the now as we had to a new era of humanity and connection.
    br
    div.row.wrap
      +inbe(true)
      +evoti(true)

    h2 Find Us On
    div.row.space-around.wrap
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://coindrop.to/naox") Coindrop
      a(href="https://x.com/naox_io") X
