extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug

block body
  header.content.center
    h1 NaoX
    +chakraNav("root")

    h2 Embark on a journey
    p NaoX is dedicated to harmonizing the digital, spiritual, and physical realms.
    div.row.space-around
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://x.com/naox_io") X
  