extends ../layouts/base_layout.pug
include ../mixins/quick_nav.pug

block body
  header.content.center
    a(href="/").center-image
      img(width="128" src="/assets/logo.png")
    +quickNav
    h2 Embark on a journey
    p NaoX is dedicated to harmonizing the digital, spiritual, and physical realms.
    div.row.space-around
      a(href="/wheel") Chakra Wheel
      a(href="/list") Quick List
    br