extends ../layouts/base_layout.pug
include ../mixins/quick_nav.pug
include ../cards.pug

block body
  div.card
    a(href="/").center-image
      img.logo(src="/assets/logo.png")
    h1 NaoX
    h2 Embark on a journey
    p Digital utilities providing harmony and liberty to upgrade your community and your own self. Invoking consciousness and focusing on the now as we head to a new era of humanity and connection.

  br
  div.row.wrap
    +inbe()
    +uku()
    +evoti()
    +wander()
  div.center.card
    h2 Connect & Support
    div.row.space-around.wrap
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://coindrop.to/naox")  Coindrop
      a(href="https://x.com/naox_io") X

    p NaoX © 2024
