extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug

block body
  header.content.center
    h1 NaoX
    +chakraNav("root")

    h2 Embark on a journey
    p NaoX is dedicated to harmonizing the digital, spiritual, and physical realms.
    div.row.space-around
      a(href="/wheel") Chakra Wheel
      a(href="/social") Connect
      a(href="/list") List View

  
