extends ../layouts/base_layout.pug
include ../mixins/quick_nav.pug
include ../cards.pug

block body
  header.content.center
    br
    br
    a(href="/").center-image
      img(width="128" src="/assets/logo.png")
    +quickNav
    h2 Embark on a journey
    br
    div
      +inbe(true)
      +evoti(true)

    h2 Find Us On
    div.row.space-around.wrap
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://coindrop.to/naox") Coindrop
      a(href="https://x.com/naox_io") X
