extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug

block body
  header.content.center
    h1 NaoX
    +chakraNav("root")
    div.row.space-between
      div
        h2 Creations
        h3
          a(href="/inbe/#/").solar-text inbe: Inner Breeze
        p Guided Wim Hof Breathing Method
      div
        h2 Services
        h3
          a(href="/inbe/#/").throat-text Git NaoX
        p Self-hosted Gitea instance
      