extends ../layouts/base_layout.pug
include ../mixins/quick_nav.pug
include ../cards.pug

block body
  header.content.center
    +quickNav
    div
      div
        h2 Products
        div.row.wrap
          +inbe(true)
          +uku(true)
      div
        h2 Services
        div.row
          +gitea(true)
          +searXNG(true)

    h2 Find Us On
    div.row.space-around.wrap
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://git.naox.io/NaoX") Gitea
      a(href="https://x.com/naox_io") X
    br
    div.row.space-around.wrap
      a(href="https://coindrop.to/naox") Coindrop