extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug
include ../cards.pug

block body
  header.content.center
    h1.center
      a(href="/") NaoX
    div.row.space-between.wrap
      div
        h2 Products
        +inbe(true)
      div
        h2 Services
        +gitea(true)

    h2 Find Us On
    div.row.space-around
      a(href="https://t.me/naoxio") Telegram
      a(href="https://github.com/naoxio") GitHub
      a(href="https://git.naox.io/NaoX") Gitea
      a(href="https://www.facebook.com/NaoXdotIO/") FB
      a(href="https://x.com/naox_io") X
    br
    div.row.space-around
      a(href="https://coindrop.to/naox") Coindrop