extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug

block body
  header.content.center
    h1 NaoX
    +chakraNav("root")

    a(href="/")
      h2 &larrtl;&nbsp;
    h3
      a(href="/inbe/#/").solar-text &rArr; inbe: Inner Breeze
    p Guided Wim Hof Breathing Method