extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug
include ../cards.pug

block body
  header.content.center
    h1 NaoX
    +chakraNav("root")
    div.row.space-between
      div
        h2 Creations
        +inbe(true)
      div
        h2 Services
        +gitea(true)