extends ../layouts/chakra_layout.pug
 
block variables 
  - title = "NaoX Svadhisthana"
  
block content
  //
      div#sacral.content.soul-star
        a(href="/sacral")
        h2 FlowX
        h3 Embracing Creativity
        p Unleash your creative potential and let your passions flow.
