extends ../layouts/chakra_layout.pug

block variables 
  - title = "NaoX Manipura"
  
block content
  //
      div#solar.content.soul-star
        a(href="/solar")
        h2 PowerX
        h3 Harnessing Inner Strength
        p Tap into your inner power and boost your confidence and self-esteem.
