extends ../layouts/base_layout.pug
include ../mixins/chakra_nav.pug

block variables 
  - title = "NaoX Vishuddha"
  
  
block body
  header
    +chakraNav("throat")
    div.card
      h4.throat-text Git NaoX
      p Self-hosted Gitea instance
      a(href="https://git.naox.io") Open Gitea
