extends ../layouts/chakra_layout.pug
 
block content
  //
      div#throat.content.soul-star
        a(href="/throat")
        h2 VoiceX
        h3 Express Yourself
        p Discover the power of your voice and harness its energy for healing and expression.
