@font-face {
  font-family: 'SawarabiMincho';
  src: url(/assets/fonts/SawarabiMincho-Regular.ttf);
}

$colors: (
  "primary": #00adb5, // Cyan (kept the same)
  "secondary": #25282c, // Darker Grey
  "tertiary": #aad8d3, // Light Cyan (kept the same)
  "quaternary": #dddddd, // Lighter Grey
  "nature-green": #52de97, // Green (kept the same)
  "nature-brown": #a47c48, // Brown (kept the same)
);


$sizes: (
  'xxs': 16px,
  'xs': 24px,
  's': 36px,
  'm': 48px,
  'l': 60px,
  'xl': 80px,
  'xxl': 128px
);

$default-background-color: map-get($colors, "secondary");
$light-theme-background-color: map-get($colors, "quaternary");

@each $name, $size in $sizes {
  .#{$name} {
    width: $size;
    height: $size;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'SawarabiMincho';
  font-size: x-large;
}

body {
  &.light-theme {
    #container {
      background-color: $light-theme-background-color;
    }
  }

  &:not(.light-theme) {
    #container {
      background-color: $default-background-color;
    }
    a:hover {
      color: map-get($colors, "nature-green");
    }
  }
}


.m-auto {
  margin: 2em auto;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.absolute {
  position: absolute;
}

#container {
  position: fixed;
  flex-direction: column;
  transition: background-color 0.3s ease;
  background-color: map-get($colors, "secondary");
  color: map-get($colors, "quaternary");
  padding: 1em 3em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}

header {
  max-width: 1000px;
  margin: auto;
}

h1 {
  color: map-get($colors, "primary");
  font-size: 2em;
}

h2 {
  color: map-get($colors, "nature-green");
  font-size: 1.5em;
}

h3 {
  color: map-get($colors, "nature-brown");
  font-size: 1.2em;
}

h4 {
  color: map-get($colors, "tertiary");
  font-size: 1em;
}

p {
  line-height: 2;
}

a {
  color: map-get($colors, "primary");
  text-decoration: none;
  transition: color 0.3s;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    margin: 0.5em;
    width: 240px;
  }
  a {
    margin: 0.5em;
  }
}

.text-color {
  color: map-get($colors, "quaternary");
  body.light-theme & {
    color: map-get($colors, "secondary");
  }
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    width: 420px;
    margin: 1rem;
  }
}
.card {
  max-width: 520px;
  padding: 2em;
  margin: 1em auto;
  border-radius: 50%;
  text-align: center;
}

.card img {
  max-width: 256px;
  border-radius: 8px;
  @media (max-width: 480px) {
    max-width: 128px;
  }
}

#themeToggle {
  display: none; // Hide the checkbox
  padding: 0;
  margin: 0;

  &:not(:checked) + label #sunIcon {
    display: block;
    filter: invert(100%); 

  }
  
  &:checked + label #sunIcon {
    display: none;
  }

  &:not(:checked) + label #moonIcon {
    display: none;
  }

  &:checked + label #moonIcon {
    display: block;
  }

  &:checked ~ #container {
    background-color: map-get($colors, "quaternary");
    color: map-get($colors, "secondary");
  }
}

label[for="themeToggle"] {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;

  img {
    width: 2em;
    height: 2em;
  }
}
