:root {
    /* Chakra colors */
    --root-chakra-color: #e33f3f;
    --sacral-chakra-color: #ff7d00;
    --solar-chakra-color: #ffdb4d;
    --heart-chakra-color: #4caf50;
    --throat-chakra-color: #2196f3;
    --third-eye-chakra-color: #673ab7;
    --crown-chakra-color: #9c27b0;
    --soul-star-chakra-color: #ffffff;
    --earth-star-chakra-color: #000000;
    
    /* Design based on chakra colors */
    --background-color: var(--earth-star-chakra-color);
    --content-background-color: var(--third-eye-chakra-color);
    --border-color: var(--throat-chakra-color);
    --heading-color: var(--heart-chakra-color);
    --text-color: var(--solar-chakra-color);
    --text-shadow-color: var(--sacral-chakra-color);
    --card-background-color: var(--root-chakra-color);
    --card-shadow-color: var(--sacral-chakra-color);
    --image-shadow-color: var(--solar-chakra-color);
    --button-background-color: var(--heart-chakra-color);
    --button-hover-background-color: var(--throat-chakra-color);
    --button-shadow-color: var(--third-eye-chakra-color);
    --button-hover-shadow-color: var(--crown-chakra-color);
    --footer-text-color: var(--solar-chakra-color);
    --footer-text-shadow-color: var(--root-chakra-color);
    --href-color: var(--throat-chakra-color);
    --href-hover-color: var(--heart-chakra-color);
}

/* CSS classes for each chakra */
.root {
    border-color: var(--root-chakra-color);
}

.sacral {
    border-color: var(--sacral-chakra-color);
}

.solar {
    border-color: var(--solar-chakra-color);
}

.heart {
    border-color: var(--heart-chakra-color);
}

.throat {
    border-color: var(--throat-chakra-color);
}

.third-eye {
    border-color: var(--third-eye-chakra-color);
}

.crown {
    border-color: var(--crown-chakra-color);
}

.soul {
    border-color: var(--soul-star-chakra-color);
}

.earth {
    border-color: var(--earth-star-chakra-color);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
}

header, section {
    padding: 20px;
    background-color: var(--background-color);
    margin: 20px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

h1, h2 {
    color: var(--heading-color);
    text-shadow: 0px 0px 10px var(--text-shadow-color);
}

p {
    line-height: 1.5;
    text-shadow: 0px 0px 5px var(--text-shadow-color);
}

a {
    color: var(--href-color);
    text-decoration: none; /* Remove underlines for cleaner look */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

a:hover {
    color: var(--href-hover-color);
}

.app-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.app-card {
    width: 256px;
    background-color: var(--card-background-color);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 20px var(--card-shadow-color);
}

.app-card img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--image-shadow-color);
}

.launch-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--background-color);
    background-color: var(--button-background-color);
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--button-shadow-color);
}

.launch-button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: 0px 0px 15px var(--button-hover-shadow-color);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--footer-text-color);
    text-shadow: 0px 0px 5px var(--footer-text-shadow-color);
}
