@font-face {
  font-family: 'Tibet';
  src: url(/assets/fonts/Tibet.otf);
}

$chakras: (
  "root": #e33f3f,
  "sacral": #ff7d00,
  "solar": #ffdb4d,
  "heart": #4caf50,
  "throat": #2196f3,
  "third-eye": #673ab7,
  "ajna": #673ab7,
  "crown": #9c27b0,
  "soul-star": #fef,
  "earth-star": #101
);

$chakras7: map-remove($chakras, "soul-star", "earth-star", "ajna");

$sizes: (
  'xxs': 16px,
  'xs': 24px,
  's': 36px,
  'm': 48px,
  'l': 60px,
  'xl': 80px,
  'xxl': 128px
);

$default-background-color: map-get($chakras, "earth-star");
$light-theme-background-color: map-get($chakras, "soul-star");

@each $name, $size in $sizes {
  .#{$name} {
    width: $size;
    height: $size;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'tibet';
  font-size: x-large;
}

body {
  &.light-theme {
    #container {
      background-color: $light-theme-background-color;
    }
  }

  &:not(.light-theme) {
    #container {
      background-color: $default-background-color;
    }
  }
}


.circle {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin: 1em 1em;
  @each $name, $size in $sizes {
    &.#{$name} {
      $size: calc($size * 1);
      width: $size;
      height: $size;
    }
  }
}

.m-auto {
  margin: 2em auto;
}

.circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}
.absolute {
  position: absolute;
}

#container {
  position: fixed;
  flex-direction: column;
  transition: background-color 0.3s ease;
  background-color: map-get($chakras, "earth-star");
  color: map-get($chakras, "soul-star");
  padding: 1em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;

}

header {
  max-width: 800px;
  margin: auto;
}


h1 {
  color: map-get($chakras, "crown");
  font-size: 2em; 
}

h2 {
  color: map-get($chakras, "third-eye");
  font-size: 1.5em;
}

h3 {
  color: map-get($chakras, "heart");
  font-size: 1.2em;
}

h4 {
  color: map-get($chakras, "solar");
  font-size: 1em;
}

p {
  line-height: 2;
}

a {
  color: map-get($chakras, "throat");
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: map-get($chakras, "third-eye");
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    margin: 0.5em;
    width: 220px;
  }
}


.text-color {
  color: map-get($chakras, "soul-star");
  body.light-theme & {
    color: map-get($chakras, "earth-star");
  }
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    width: 320px;
  }
}
.card {
  max-width: 480px;
  padding: 2em;
  margin: 1em auto;
  border-radius: 50%;
  text-align: center;
}

.card img {
  max-width: 256px;
  border-radius: 8px;
}

/* CSS classes for each chakra */
@each $chakra, $color in $chakras {
  .#{$chakra} {
    box-shadow: 0px 0px 20px rgba($color, 0.8);
  }
  .#{$chakra}:hover {
    box-shadow: 0px 0px 20px rgba($color, 1);
  }

  .#{$chakra}-text { 
    color: $color;
  }


  .border-card-#{$chakra} {
    background-color: mix($default-background-color, $color, 90%);
    padding: 0.5em;
    border: 1px solid $color;
    border-radius: 2em;

    $hover-border-color: if($chakra == "third-eye", map-get($chakras, "root"), map-get($chakras, "ajna"));

    &:hover {
      border: 1px solid $hover-border-color;
    }
    body.light-theme & {
      background-color: mix($light-theme-background-color, $color, 90%);
    }
  }
  @keyframes #{$chakra}-shadowPulse {
    0% {
      box-shadow: inset 0px 0px 5px rgba($color, 0);
    }
    50% {
      box-shadow: inset 0px 0px 10px $color;
    }
    100% {
      box-shadow: inset 0px 0px 5px rgba($color, 0);
    }
  }
  .#{$chakra}-animated {
    animation: #{$chakra}-shadowPulse 3s infinite;
  }
}


@function rotate-list($list, $start-index) {
  $rotated-list: ();
  $length: length($list);

  $start-index: if($start-index < 1, 1, $start-index);

  @for $i from $start-index through $length {
    $rotated-list: append($rotated-list, nth($list, $i));
  }

  @for $i from 1 through $start-index  {
    $rotated-list: append($rotated-list, nth($list, $i));
  }

  @return $rotated-list;
}

.chakra-container {
  position: relative;

  width: 320px; 
  height: 320px; 
  
  text-shadow: 1px 1px 4px map-get($chakras, "ajna");

  
  .soul-star, .earth-star, .ajna {
    opacity: 0.2;
  }

  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  $total-chakras: length(map-keys($chakras7));
  $rotation-step: calc(360deg / $total-chakras);
  $radius: 140px;


  @each $name, $size in $sizes {
    &.#{$name} {
      width: calc($size * 6);
      height: calc($size * 6);
      img {
        width: calc($size * 2);
      }
    }
  }

  @each $chakra, $color in $chakras7 {
    $current-rotation: 0deg;

    $start-index: index(map-keys($chakras7), $chakra);
    $order: rotate-list(map-keys($chakras7), $start-index);
  
    @each $ordered-chakra, $ordered-color in $order {
      $ordered-color: map-get($chakras7, $ordered-chakra);

      .#{$chakra}-start .#{$ordered-chakra}-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate($current-rotation) translateY(-$radius) rotate(-$current-rotation);
        
        @each $name, $size in $sizes {
          &.#{$name} {
            $size: calc($size * 2);
            transform: translate(-50%, -50%) rotate($current-rotation) translateY(-$size) rotate(-$current-rotation);
          }
        }
      
        color: rgba($ordered-color, 0.8);
        text-shadow: -1px -1px 5px rgba($ordered-color, 0.8);
      }

      .#{$chakra}-start .#{$ordered-chakra}-item:hover {
        color: rgba($ordered-color, 1);
        text-shadow: -1px -1px 5px rgba($ordered-color, 1);

        .soul-star, .earth-star, .ajna {
          opacity: 1;
        }
      }

      $current-rotation: $current-rotation + $rotation-step;
    }
  }
}


#themeToggle {
  display: none; // Hide the checkbox
  padding: 0;
  margin: 0;

  &:not(:checked) + label #sunIcon {
    display: block;
    filter: invert(100%); 

  }
  
  &:checked + label #sunIcon {
    display: none;
  }

  &:not(:checked) + label #moonIcon {
    display: none;
  }

  &:checked + label #moonIcon {
    display: block;
  }

  &:checked ~ #container {
    background-color: map-get($chakras, "soul-star");
    color: map-get($chakras, "earth-star");
  }
}

label[for="themeToggle"] {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;

  img {
    width: 2em;
    height: 2em;
  }
}
