@font-face {
  font-family: 'RockSalt';
  src: url(/assets/fonts/RockSalt-Regular.ttf);
}
:root {
    /* Chakra colors */
    --root-chakra-color: #e33f3f;
    --sacral-chakra-color: #ff7d00;
    --solar-chakra-color: #ffdb4d;
    --heart-chakra-color: #4caf50;
    --throat-chakra-color: #2196f3;
    --third-eye-chakra-color: #673ab7;
    --crown-chakra-color: #9c27b0;
    --soul-star-chakra-color: #ffffff;
    --earth-star-chakra-color: #000000;
}

/* CSS classes for each chakra */
#root, .root {
    box-shadow: 0px 0px 20px var(--root-chakra-color);
}

#sacral, .sacral {
    box-shadow: 0px 0px 20px var(--sacral-chakra-color);
}

#solar, .solar {
    box-shadow: 0px 0px 20px var(--solar-chakra-color);
}

#heart, .heart {
    box-shadow: 0px 0px 20px var(--heart-chakra-color);
}

#throat, .throat {
    box-shadow: 0px 0px 20px var(--throat-chakra-color);
}

#third-eye, .third-eye {
    box-shadow: 0px 0px 20px var(--third-eye-chakra-color);
}

#crown, .crown {
    box-shadow: 0px 0px 20px var(--crown-chakra-color);
}

#soul, .soul {
    box-shadow: 0px 0px 20px var(--soul-star-chakra-color);
}

#earth, .earth {
    box-shadow: 0px 0px 20px var(--earth-star-chakra-color);
}


.circle {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 1rem auto;
}

.xl {
    width: 64px;
    height: 64px;
    margin: 2rem auto;
}

a .circle {
    width: 54px;
    height: 32px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

body {
    font-family: 'RockSalt';
    padding: 0;
    background-color: var(--earth-star-chakra-color);
    color: var(--text-color);
    max-width: 700px;
    margin: 1em auto;
    font-size: medium;
}


article, header, section, div {
    border-radius: 1em;
}

.content {
    padding: 0.1em 1em;
}


h1, h2 {
    color: var(--heart-chakra-color);
}
h3, h4 {
    color: var(--throat-chakra-color);
}

p {
    line-height: 2;
    color: var(--soul-star-chakra-color);
}

a {
    color: var(--throat-chakra-color);
    text-decoration: none; /* Remove underlines for cleaner look */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

a:hover {
    color: var(--third-eye-chakra-color);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 256px;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.launch-button {
    display: inline-block;
    padding: 10px 20px;

    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--third-eye-chakra-color);
}

.launch-button:hover {
    box-shadow: 0px 0px 15px var(--crown-chakra-color);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--solar-chakra-color);
    text-shadow: 0px 0px 5px var(--root-chakra-color);
}
