:root {
    /* Color variables for the mystical purple theme */
    --background-color: #110011;
    --content-background-color: #220022;
    --border-color: #441144;
    --heading-color: #dd99dd;
    --text-color: #eee;
    --text-shadow-color: #664466;
    --card-background-color: #330033;
    --card-shadow-color: #884488;
    --image-shadow-color: #aa77aa;
    --button-background-color: #dd99dd;
    --button-hover-background-color: #eeaaee;
    --button-shadow-color: #ffccff;
    --button-hover-shadow-color: #ffddff;
    --footer-text-color: #aa88aa;
    --footer-text-shadow-color: #553355;
    --href-color: #ffb6c1; /* Pinkish color (light pink) */
    --href-hover-color: #ff69b4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 700px;
    margin: 0 auto;
}

header, section {
    padding: 20px;
    background-color: var(--content-background-color);
    margin: 20px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

h1, h2 {
    color: var(--heading-color);
    text-shadow: 0px 0px 10px var(--text-shadow-color);
}

p {
    line-height: 1.5;
    text-shadow: 0px 0px 5px var(--text-shadow-color);
}

a {
    color: var(--href-color);
    text-decoration: none; /* Remove underlines for cleaner look */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

a:hover {
    color: var(--href-hover-color);
}

.app-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.app-card {
    width: 256px;
    background-color: var(--card-background-color);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 20px var(--card-shadow-color);
}

.app-card img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--image-shadow-color);
}

.launch-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--background-color);
    background-color: var(--button-background-color);
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--button-shadow-color);
}

.launch-button:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: 0px 0px 15px var(--button-hover-shadow-color);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--footer-text-color);
    text-shadow: 0px 0px 5px var(--footer-text-shadow-color);
}
