include animated_chakra.pug 

mixin chakraCircle(chakra)
  div.circle-wrapper
    p.circle.soul-star
    p.circle.absolute(class=chakra)
      block


mixin chakraNav(animate)
  div.chakra-container.m-auto
    a(href="/").center-image
      img(width="96" src="/assets/logo.png")
    a(href="/crown" class="crown-item")
      +chakraCircle("crown")
    a(href="/third-eye" class="third-eye-item")
      +chakraCircle("third-eye")
    a(href="/throat" class="throat-item")
      +chakraCircle("throat")
    a(href="/heart" class="heart-item")
      +chakraCircle("heart")
        p.absolute I

    a(href="/solar" class="solar-item")
      +chakraCircle("solar")
    a(href="/sacral" class="sacral-item")
      +chakraCircle("sacral")
    a(href="/root" class="root-item")
      +chakraCircle("root")
