include animated_chakra.pug 

mixin chakraNav(animate)
  div.chakra-container.m-auto
    a(href="/").center-image
      img(width="96" src="/assets/logo.png")
    a(href="/crown" class="crown-item")
      p.crown.circle
    a(href="/third-eye" class="third-eye-item")
      p.third-eye.circle
    a(href="/throat" class="throat-item")
      p.throat.circle
    a(href="/heart" class="heart-item")
      div.circle-wrapper
        if (animate == "heart")
          +animatedChakra("heart")
        else
          p.heart.circle
    a(href="/solar" class="solar-item")
      p.solar.circle
    a(href="/sacral" class="sacral-item")
      p.sacral.circle
    a(href="/root" class="root-item")
      p.root.circle
