mixin inbe
  div.card
    img(src="/assets/cards/inner-breeze.png", alt="Inner Breeze App")
    h4 Inner Breeze
    p Experience the Wim Hof breathing method with Inner Breeze.
    a(href="/inbe/#/") Launch App
